body{
    background:#f3f3f3;
    color:#333
    widht:100%
    font-family:sans-serif;
    margin:0 auto;
}

.header{
    widht:90%
    margin:0 auto;
    height:120px;
    line-height:120px;
    background:#417aa8;
    color#fff;
}
    
